:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
}

.form-field {
    display: block;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    -webkit-appearance: none;
    color: var(--input-color);
    border-bottom-left-radius: .75rem;
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.form-group-input {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    &>span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    &>span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        &>span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}

.form-group-input-left {
    position: relative;
    display: flex;
    gap: .3rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    &>span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    &>span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        &>span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}

.form-field2 {
    display: block;
    width: 50%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--group-color-focus);
    border: 1px solid var(--input-border);
    background: var(--group-background-focus);
    transition: border .3s ease;
    cursor: pointer;
    &:hover {
        background: var(--group-color-focus);
        color: var(--group-background-focus);
        border: 1px solid var(--group-background-focus);
    }
}

.form-group-send {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    .form-field2 {
        flex: 1 0 70%;
    }
}

input.toggle-hid {
    display: none;
}

.toggleWrapper {
    z-index: 3;
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
    i {
        font-size: 1.3em;
    }
}

.big {
    cursor: pointer;
    i {
        font-size: 20em;
    }
}

input:checked {
    &+.toggleWrapper {
        i {
            color: #f9df04;
        }
    }
}

.form-group-input-left {
    input {
        display: none;
    }
    label {
        font-size: 24px;
        color: #e24d4d;
        display: inline-block;
        padding: 0 0 0 .3em;
        cursor: pointer;
    }
    label:before {
        content: '';
        display: inline-block;
        background: #55D8C6;
        height: 20px;
        width: 20px;
        margin-right: 10px;
        border-radius: 80%;
        box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
        box-sizing: border-box;
        border: 10px solid #f3f3f3;
        transition: border .3s ease;
    }
    input:checked+label:before {
        border-color: #fff;
        border-width: 3px;
    }
    input+label {
        transition: color .7s ease;
    }
    input:checked+label {
        color: #5D5D5D;
    }
}

.btn-del {
    background: #e24d4d;
    border: none;
    margin-left: .5rem;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid #e24d4d;
    }
}

.prix-inp {
    width: 100%;
}

@media only screen and(max-width: 650px) {
    .form-group-input {
     flex-direction: column;
    }
}