<%- include ('../../common/header') -%>

    <div class="content_admin">
        <div class="content_admin-title">Administration</div>
        <div class="content_category-admin">
            <div class="category_admin-card">
                <h3>CATEGORIES</h3>
                <p>Ajoute ou supprime des catégories de produits</p>
                <a href="/admin/category">Gérer</a>
            </div>
            <div class="category_admin-card">
                <h3>PRODUITS</h3>
                <p>Ajoute ou supprime des produits</p>
                <a href="/admin/product">Gérer</a>
            </div>


        </div>
    </div>
    <%- include ('../../common/footer') -%>