<footer class="m_footer-content">
    <div class="m_footer-infos">
        <div class="m_footer-top">
            <div class="m_footer-title">
                <h1>Contactez-nous</h1>
            </div>
            <div class="m_footer-desc">
                <p>7 Chemin de Relandière<br>38440 MOIDIEU-DETOURBE</p>

                <p>Appelez-nous au : 04.82.53.85.66</p>

                <p>E-mail : contact@plaisirs-fondants.fr</p>
            </div>
        </div>
    </div>
    <div class="m_footer_panel">
        <div class="m_footer_panel-item">
            <div class="m_footer_panel-title">
                <h1>Fabrication Artisanale</h1>
            </div>
            <div class="m_footer_panel-desc">
                <p>Notre savoir-faire a été reconnu « Qualité Artisan » par la chambre des métiers et de l’artisanat. Un gage de qualité que vous retrouverez dans toutes nos gammes</p>
            </div>
        </div>
        <div class="m_footer_panel-item">
            <div class="m_footer_panel-title">
                <h1>Un biscuit à votre image</h1>
            </div>
            <div class="m_footer_panel-desc">
                <p>Notre gamme personnalisable vous permet de choisir la forme du biscuit, son glaçage mais aussi de le décorer des photos et textes de votre choix. N’hésitez pas à nous contacter pour un devis sur mesure</p>
            </div>
        </div>
        <div class="m_footer_panel-item">
            <div class="m_footer_panel-title">
                <h1>Paiement sécurisé</h1>
            </div>
            <div class="m_footer_panel-desc">
                <p>Nous acceptons le paiement par carte bancaire via la société Française nommée Payplug spécialisée dans le paiement sécurisé en ligne</p>
            </div>
        </div>
        <div class="m_footer_panel-item">
            <div class="m_footer_panel-title">
                <h1>Expédition</h1>
            </div>
            <div class="m_footer_panel-desc">
                <p>En livraison chez vous directement via Colissimo (La Poste) ou en Point Relais via Mondial Relay pour aller chercher votre colis à votre convenance et bénéficier d’une plus grande amplitude horaire</p>
            </div>
        </div>
    </div>

    <div class="m_footer_bottom">


        <div class="m_footer_bottom-mentions">
            <a href="/conditions" target="blank">Conditions générales de vente</a>
            <p> | </p>
            <a href="/mentions" target="blank">Mentions légales</a>
        </div>
    </div>
</footer>

<script src="script/slider.js">
</script>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<script src="script/script.js">
</script>
</body>

</html>