<%- include ('../common/header') -%>

    <div class="condi_content">
        <div class="condi_content-title">Conditions générales de vente</div>
        <div class="condi_content-desc">
            <p>
                Le présent contrat a pour objet de fixer les conditions générales de vente entre PLAISIRS FONDANTS (SAS MOMA immatriculée 824 073 837 à la CMA du Rhône) et ses clients du web.
                <br>

                <span class="condi_content-title-art">ARTICLE 1 : CHAMPS D'APPLICATION ET MODIFICATION DES CONDITIONS GÉNÉRALES DE VENTE</span> Les présentes conditions générales de vente (ci-après les « Conditions Générales de Vente » ou « les CGV »)
                ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne des produits (ci-après "les produits") distribués PLAISIRS FONDANTS (SAS MOMA immatriculée 824 073 837 à la CMA du Rhône) (ci-après « le
                Vendeur ») sur le site Internet www.biscuitsimprimes.com (ci-après "le Site").
                <br><br>Le fait de passer une commande de produits sur le Site implique l’adhésion du client, sans restriction, ni réserve, à l’ensemble des dispositions des Conditions Générales de Vente figurant sur le Site au moment de la commande.
                Aucune condition générale ou spécifique figurant dans les documents envoyés par le client ne pourra s’intégrer aux présentes sans l’accord exprès et écrit du Vendeur.
                <br><br>Le Vendeur se réserve la possibilité d'adapter ou de modifier à tout moment les présentes CGV. En cas de modification, il sera appliqué à chaque commande les CGV en vigueur au jour de la commande.
                <br>

                <span class="condi_content-title-art">ARTICLE 2 : DISPONIBILITÉ DES PRODUITS</span> Nos offres de produits et prix sont valables tant qu'elles sont visibles sur le Site, dans la limite des stocks disponibles.<br><br> A réception de votre
                commande, nous vérifions la disponibilité du (ou des) produit(s) commandé(s). En cas d'indisponibilité, nous nous engageons à vous contacter dans les 24 heures ouvrés par téléphone ou par mèl pour vous indiquer notre délai de réapprovisionnement
                du ou des produits ; à vous proposer un produit similaire ou à vous rembourser dans un délai maximum de 5 jours ouvrés.
                <span class="condi_content-title-art">ARTICLE 3 : VALIDATION DES COMMANDES ET SIGNATURE ÉLECTRONIQUE (LOI DU 13 MARS 2000 SUR LA SIGNATURE ÉLECTRONIQUE).</span> Tout bon de commande signé du Client par "double clic" constitue une acceptation
                irrévocable de nos Conditions Générales de Vente qui ne peut être remise en cause que dans les limites prévues dans les présentes CGV.<br><br>Le "double clic" associé à la procédure d'authentification, de non répudiation et à la protection
                de l'intégrité des messages constitue une signature électronique et forme le contrat. Cette signature électronique a valeur entre les parties au même titre qu'une signature manuscrite.<br><br> Le Vendeur se réserve le droit de refuser
                toute commande pour des motifs légitimes et, plus particulièrement si les quantités de produits commandées sont anormalement élevées pour des acheteurs ayant la qualité de consommateur.
                <span class="condi_content-title-art">ARTICLE 4 : PRIX</span>

                <span class="condi_content-title-sous-art">4.1 - Généralités</span> Tous les prix s'entendent nets en euros TTC (Toutes Charges Comprises) pour la France métropolitaine.<br><br> Les frais d'emballage, de transport et d'assurance fret ne
                sont pas compris. Les frais de livraison sont facturés en sus, ils figurent sur le récapitulatif de la commande du Client avant validation de cette dernière par le Client. Le montant total dû par le Client est indiqué sur la page de confirmation
                de la commande. Le prix de vente du Produit est celui en vigueur au jour de la commande.<br><br>Le Vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur indiqués au moment de la
                commande.
                <span class="condi_content-title-sous-art"></span>

                <span class="condi_content-title-sous-art">
                4.2 -Droit de rétractation</span> Conformément aux dispositions légales, le délai de rétractation ne joue qu'en faveur d'un client consommateur. Le consommateur dispose d'un délai de 14 (quatorze) jours francs à compter
                du retrait du produit ou de sa livraison pour exercer son droit de rétractation. A partir du moment ou la société est informé par écrit de votre rétractation, la société s'engage à rembourser le client dans un délai de 30 jours.<br><br>Conformément
                à l’article L. 221-28 du Code de la consommation français ou, le cas échéant, aux dispositions équivalentes qui s’appliquent dans votre pays, dans la mesure (i) où les Produits Personnalisés sont nettement personnalisés et fabriqués sur
                mesure selon le Contenu Personnalisé que Vous aurez librement saisi et les couleurs que Vous aurez choisies et (ii) où, du fait de leur nature, ils sont susceptibles de se détériorer rapidement, Vous ne bénéficiez pas du droit de rétractation
                prévu par l’article L. 221-18 du Code de la consommation français ou, le cas échéant, par les dispositions équivalentes qui s’appliquent dans votre pays. Par conséquent, Vous ne pouvez ni modifier ni annuler votre commande une fois que
                Vous l’avez payée.
                <span class="condi_content-title-art">ARTICLE 5 : MODALITÉS DE PAIEMENT ET SÉCURISATION</span>

                <span class="condi_content-title-sous-art">5.1 - Modalités de Paiement</span> Vous pouvez effectuer le règlement: <br><br>Par carte bancaire<br>Le paiement s'effectue sur le serveur bancaire sécurisé de notre partenaire (CIC). Ceci implique
                qu'aucune information bancaire vous concernant ne transite via le site www.plaisirs-fondants.fr Le paiement par carte bancaire est donc parfaitement sécurisé ; votre commande sera ainsi enregistrée et validée dès l'acceptation du paiement
                par la banque.
                <br><br>En cas de refus de la banque, la commande sera automatiquement annulée et le Vendeur sera dès lors déchargé de toute obligation et responsabilité envers le Client.<br><br> Les coordonnées de votre carte bancaire sont cryptées grâce
                au protocole SSL en partenariat avec le CIC et ne transitent jamais en clair sur le réseau. Le paiement est directement effectué auprès de la banque. Le Vendeur n'a en aucun cas accès à ces coordonnées, et ne les garde pas sur ses serveurs.
                C'est pourquoi elles vous sont redemandées à chaque nouvelle transaction sur notre Site.<br><br>Par chèque bancaire<br>La commande ne sera traitée qu'à réception de votre chèque et après validation de notre service commercial. Par virement
                Vous pouvez également régler vos achats par virement, votre commande sera prise en compte à réception de l'encaissement de celui-ci.<br><br>Par PayPal ou PayPlug<br>Pour bénéficier de ce mode de paiement vous devez avoir un compte auprès
                de ces sociétés. Ce sont les conditions générales d'utilisation de ces sociétés qui seront appliquées.<br><br><span class="condi_content-title-sous-art">5.2 - Défaut de Paiement</span> Le Vendeur se réserve le droit de refuser d'effectuer
                une livraison ou d'honorer une commande émanant d'un Client qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours de traitement. <span class="condi_content-title-sous-art">5.3 - Contrôles anti Fraudes</span>Afin
                de toujours mieux sécuriser l’utilisation des moyens de paiements le Vendeur se réserve le droit de demander des justificatifs (relatif à l’identité, et/ou domicile). Le défaut ou refus de transmettre les justificatifs demandés peut conduire
                le Vendeur à ne pas honorer les commandes concernées. En outre, le délai de transmission des pièces sollicitées peut décaler d’autant l’expédition ou la livraison des Produits commandés. Ces demandes sont faites par courrier électronique.
                <span class="condi_content-title-sous-art">5.4 - Les remboursements</span>Les remboursements ont lieu dans un délai maximum de 5 jours ouvrés dans le moyen de paiement initial de la commande concernée.<br><br> En tout état de cause aucun
                remboursement ne sera effectué en cas de paiement par virement, par chèque et par E-CB. Tous dédommagements, fera l'objet d'un avoir.
                <span class="condi_content-title-art"> ARTICLE 6 : MODALITÉS DE LIVRAISON ET DÉLAIS DE LIVRAISON</span>
                <span class="condi_content-title-sous-art">6.1 - Modalités Généralités</span>Les produits sont livrés à l'adresse de livraison que vous nous avez indiquée au cours du processus de commande.<br><br>En cas de paiement par chèque ou par virement,
                la commande n'est expédiée qu'à réception du paiement.<br><br>Quel que soit le mode de livraison, les risques et périls du transport (perte, détérioration ou vol) sont à la charge du Vendeur, sous réserve que l'acheteur ait vérifié les
                marchandises à l'arrivée et ait exercé, s'il y avait lieu, ses recours contre le transporteur dans un délai maximum de 3 jours par lettre recommandée avec demande d’avis de réception conformément à l’article L133-3 du code de commerce.<br><br>La
                livraison est assurée du lundi au samedi.<br><br>Les délais de livraisons, donnés à titre indicatif, sont de 3 à 5 jours ouvrables pour la France.
                <span class="condi_content-title-art">ARTICLE 7 : RESPONSABILITÉS</span> En vertu de l’article L121-20-3 du Code de la consommation, le Vendeur ne sera pas tenu responsable si l’inexécution ou la mauvaise exécution du contrat est imputable
                soit au Client, soit au fait imprévisible et insurmontable d’un tiers au contrat, soit à un cas de force majeure. En ce qui concerne les Produits achetés pour satisfaire les besoins professionnels, le Vendeur n'encourra aucune responsabilité
                pour tous dommages indirects du fait des présentes, perte d'exploitation, perte de profit, dommages ou frais, qui pourraient survenir.<br><br>Le choix et l'achat d'un Produit ou d'un service sont placés sous l'unique responsabilité du
                Client. L'impossibilité totale ou partielle d'utiliser les Produits notamment pour cause d'incompatibilité du matériel ne peut donner lieu à aucun dédommagement, remboursement ou mise en cause de la responsabilité du Vendeur, sauf dans
                le cas d'un vice caché, de non-conformité, ou d'exercice du droit de rétractation envisagés ci-après.
            </p>

        </div>
    </div>

    <%- include ('../common/footer') -%>