<%- include ('../common/header') -%>

    <div class="condi_content">
        <div class="condi_content-title">Mentions légales</div>
        <div class="condi_content-desc">
            <p>
                <span class="condi_content-title-art">MENTIONS LEGALES VENDEUR/EDITEUR</span>

                <span class="condi_content-title-sous-art">MOMA SAS</span>
                <p>Propriétaire des marques:</p>

                <ul>
                    <li>- Plaisirs Fondants</li>

                    <li>- Biscuits Imprimés</li>
                </ul>

                <p>Capital social : 5.000 euros Siège social : 2 Rue Maryse Bastié 69500 BRON</p>
                <p>Numéro de RCS de Lyon: 824 073 837</p>
                <p>Numéro de TVA intra-communautaire : FR20410409460</p>
                <p>Adresse électronique : contact@plaisirs-fondants.fr</p>
                <p>PDG: Mme Marie PLENECASSAGNE</p>
                <p>Hébergeur:</p>
                <p>SAS OVH</p>
                <p>2 Rue Kellermann</p>
                <p>BP 80157</p>
                <p>59100 ROUBAIX</p>
                <span class="condi_content-title-art">INFORMATIONS RELATIVES A VOS DONNEES PERSONNELLES</span><span class="condi_content-title-sous-art">Données personnelles collectées sur le site</span>Conformément à la Loi « Informatique et Libertés
                » du 6 janvier 1978, modifiée en 2004, vos données personnelles font l'objet d'un traitement automatisé.<br>Le renseignement des données personnelles collectées aux fins de vente à distance est obligatoire pour la confirmation, et la validation
                de votre commande ainsi que son suivi et son expédition. En leur absence,<br>votre commande ne pourra être traitée : ces données obligatoires sont identifiées par un astérisque sur le formulaire que vous remplissez lors de la commande
                ou de l’inscription ; les autres sont facultatives. Ces données peuvent être transmises auprès de nos prestataires techniques, dans la seule finalité de la bonne exécution de votre commande, ou l’établissement de statistiques. Droits d'accès,
                de modification, d'opposition et de suppression Vous disposez d'un droit d'accès, de modification, d'opposition et de suppression des données personnelles vous concernant en écrivant à l'adresse suivante : MOMA SAS - 2 Rue Maryse Bastié
                69500 BRON , en indiquant vos nom, prénom, e-mail et adresse. Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d'un titre d'identité portant votre signature et préciser l'adresse
                à laquelle doit vous parvenir la réponse. Une réponse vous sera alors adressée dans un délai de 2 mois suivant la réception de la demande.
                <span class="condi_content-title-art">VOS CHOIX CONCERNANT LES COOKIES</span> Qu'est-ce qu'un cookie ? Un grand nombre de sites internet utilisent des cookies, l'objectif principal étant d'améliorer votre expérience d'utilisateur. Un cookie
                est une information déposée sur votre disque dur par le serveur du site que vous visitez. Ces informations sont parfois stockées sur votre terminal dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations.
                Un site internet peut uniquement relire et écrire les cookies qui lui appartiennent. Pourquoi nous utilisons des cookies Lors de la navigation sur le site, les cookies permettent de "reconnaître" votre navigateur, pour la durée de votre
                visite («cookie de session») ou lors de plusieurs visites («cookie persistant»). Les cookies peuvent avoir plusieurs rôles et sont utilisés sur notre site : - pour des raisons techniques (identification de session, mémorisation des préférences,
                du panier...) afin, par exemple, d'adapter la présentation du site à la configuration de votre terminal. - à des fins d’analyses statistiques et de gestion de trafic nous permettant, par exemple, d'améliorer l'ergonomie du site et l'intérêt
                de nos services. - pour vous proposer des offres commerciales en lien ou non avec vos centres d'intérêts sur notre site ou des sites tiers. Les cookies Tiers En fonction des choix que vous avez pu exercer concernant les cookies (§ Vos
                choix concernant l'utilisation des cookies), des cookies sont émis/lus par des tiers (prestataires de publicité, agences de communication, sociétés de mesure d'audience, …) lorsque vous naviguez sur notre site. Les cookies permettent à
                ces sociétés, pendant la durée de validité de ces cookies, de déterminer, en vue de vous les adresser, les contenus publicitaires susceptibles de correspondre à vos centres d'intérêts grâce à la connaissance de votre navigation sur notre
                site. L'utilisation des cookies par ces sociétés est régie par leurs propres politiques de protection de la vie privée. Réseaux Sociaux Afin de vous donner la possibilité de partager des contenus ou de donner votre opinion sur nos produits
                ou services, nous pouvons être amenés à intégrer dans notre site des éléments (boutons, plug-ins, …) en lien avec les réseaux sociaux. Ces éléments, permettent aux réseaux sociaux de suivre votre navigation, à la condition que vous soyez
                connecté au réseau social sur votre navigateur (même s'il n'y a pas eu d'utilisation du bouton "partager", par exemple) Les conditions d'utilisation des informations liées à ces éléments sont définies par le réseau social dont vous êtes
                membre, nous n'avons aucun contrôle sur les actions réalisées. Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de prendre connaissance de l'utilisation qui est faite des données
                collectées lors de votre navigation et des moyens de paramétrer la confidentialité de vos comptes. Les cookies "Flash"© "Adobe Flash Player"™ est une solution informatique très répandue permettant la création de contenus multimédias interactifs.
                Elle utilise, elle aussi, de petits fichiers pour stocker des informations mais la technologie mise en œuvre est différente de celle utilisée pour les cookies. La gestion de vos choix concernant la confidentialité doit être gérée de manière
                spécifique. Vous pouvez gérer le contenu Flash lié à votre navigation via le gestionnaire d’Adobe Flash Player : https://www.adobe.com/support/documentation/fr/flashplayer/help/settings_manager07.html Si l'utilisation de votre terminal
                est partagée par plusieurs personnes Les cookies étant liés au terminal et au navigateur, nous ne pouvons pas nous assurer de manière certaine de l'identité de la personne naviguant sur ce terminal. Il est donc possible que les services
                et publicités qui vous seront proposés sur ce terminal ne correspondent qu'en partie à votre utilisation (la navigation/les préférences des autres utilisateurs du terminal pouvant être prises en compte). La confidentialité de votre terminal
                résulte de vos choix, aussi bien dans son utilisation (personnes ayant accès) que dans son paramétrage (concernant notamment les cookies). Vos choix concernant l'utilisation des cookies A tout instant, plusieurs options sont possibles
                pour gérer les cookies et sont précisées ci-après. Les paramétrages que vous êtes susceptibles de réaliser peut avoir un impact sur votre navigation internet et sur le fonctionnement de certains services nécessitant l'utilisation de cookies.
                A ce titre, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services, résultant de l’impossibilité d’enregistrer ou de consulter un cookie sur votre terminal. Navigateur sur ordinateur (PC):
                Au travers du paramétrage de votre navigateur, vous pouvez mener un certain nombre d'actions vous permettant d'administrer les cookies afin d'en accepter ou d'en refuser l'utilisation soit de manière globale soit de manière plus précise
                et ce à tout moment. Les éléments de paramétrage étant spécifiques à chaque navigateur nous vous proposons de suivre le lien correspondant à votre navigateur pour en savoir plus : - Pour gérer les cookies sur Google Chrome : https://support.google.com/chrome/answer/95647?hl=fr
                - Pour gérer les cookies sur Internet Explorer : https://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11 - Pour gérer les cookies sur Mozilla Firefox : https://support.mozilla.org/fr/kb/effacer-cookies-supprimer-infos-sites-enregistrees
                - Pour gérer les cookies sur Safari : https://support.apple.com/kb/ht1677?viewlocale=fr_FR&locale=fr_FR Pour les autres terminaux (smartphones, tablettes, objets connectés), nous vous invitons à consulter le menu d’aide de votre navigateur.
                Plateformes interprofessionnelles : Certaines plateformes interprofessionnelles permettent la gestion en ligne des cookies. A titre d'exemple le site YourOnlineChoices, qui est proposé par de nombreux professionnels de la publicité digitale
                regroupés au sein de l'association européenne EDAA (European Digital Advertising Alliance) et géré en France par l'Interactive Advertising Bureau (IAB) France. Vous pouvez, pour les entreprises inscrites sur cette plateforme, choisir d'activer
                ou de désactiver l'utilisation de cookies pour vous proposer des publicités correspondant à vos centres d'intérêts : https://www.youronlinechoices.com/fr/controler-ses-cookies/ Cette action n'empêche pas l'affichage de publicités sur les
                sites que vous consultez, elle permet (pour les entreprises inscrites) d'empêcher la collecte et l'utilisation de données dans l'objectif de la faire correspondre à vos centres d'intérêts. Autres Outils : En complément des solutions évoquées
                précédemment, il existe des outils (sous forme de plug-ins ou add-ons pour le navigateur), développés par des sociétés tierces, permettant de maîtriser la collecte et l’utilisation des cookies. Information complémentaire sur les cookies
                Pour une information complémentaire sur les cookies, vous pouvez visiter le site de la Commission Nationale de l'Informatique et des Libertés (CNIL) : https://www.cnil.fr/vos-droits/vos-traces/les-cookies/
                <span class="condi_content-title-art">PROPRIETE INTELLECTUELLE</span>Tous les éléments du site www.plaisirs-fondants.fr, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des
                marques et des brevets. Leur utilisation sans l’autorisation préalable et écrite d’Auchan France ou des autres titulaires de droits est susceptible de constituer une contrefaçon et de donner lieu à des poursuites. En se connectant sur
                le site www.plaisirs-fondants.fr, vous vous interdisez de copier ou télécharger tout ou partie de son contenu, sauf autorisation préalable et expresse de MOMA SAS. Sont notamment interdits : l’extraction, la réutilisation le stockage,
                la reproduction, la représentation ou la conservation de parties quantitativement ou qualitativement substantielles du site MOMA SAS, sous quelque forme que ce soit, au titre des droits du producteur de bases de données, et sauf autorisation
                préalable écrite de la présidente de la SAS. L'utilisateur qui dispose d'un site Internet à titre personnel a la possibilité de placer sur son site un lien simple renvoyant directement à la page d'accueil du site. Cette autorisation ne
                vaut pas pour autant une convention implicite d'affiliation. En revanche, tout lien hypertexte renvoyant au site www.plaisirs-fondants.fr et utilisant la technique du framing et du in-line linking est formellement interdit.Dans tous les
                cas, tout lien, même tacitement autorisé, devra être retiré sur simple demande d'Auchan.
                <span class="condi_content-title-sous-art">Informations sur le règlement en ligne des litiges conformément à l'art. 14 paragr. 1 du RLL (Règlement en Ligne des Litiges)</span> La Commission Européenne permet aux consommateurs de résoudre
                les litiges en ligne sur l'une de ses plateformes, conformément à l'art. 14 paragr. 1 du RLL. La plateforme (https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=FR) agit comme un site où les consommateurs peuvent essayer
                des régler hors tribunal des litiges survenus lors d'achats de biens ou services en ligne.
            </p>

        </div>
    </div>

    <%- include ('../common/footer') -%>