<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> My Form </title>
    <style>
        #mylink {
            font-size: 25px;
        }
    </style>
</head>

<body align='center'>
    <header>
        <h1>Register</h1>
    </header>

    <h1> Login </h1>
    <form action="/login" method="POST">
        USER <input type="text" name="username"> PASSWORD <input type="password" name="password">
        <button type="submit"> Submit </button>
    </form>

</body>

</html>
view rawregistration.html hosted with ❤ by GitHub